{
    "app": {
        "hostname": "http://localhost:8081",
        "port": "8081"
    },
    "database": {
        "type": "postgres",
        "host": "localhost",
        "username": "jsadwith",
        "password": "",
        "name": "bestever",
        "log": true
    },
    "log": {
        "loglocations": {
            "error": "./logs/error/error-@date@.json"
        }
    }
}